@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3, p, span {
  color: var(--text-color);
}

.navbar {
  background-color: var(--components-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  @apply flex justify-between items-center py-8 mb-16;
}

.lateral-spacing {
  padding-left: clamp(2rem, 5vw, 8rem);
  padding-right: clamp(2rem, 5vw, 8rem);
}

.main-title {
  font-size: clamp(1.6rem, 1.2rem + 1vw, 3rem);
  font-weight: 800;
}

.toggle-text {
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.8rem);
}

.moon-img {
  width: clamp(1.3rem, 1rem + 1vw, 4rem);
}

.search-input-wrapper {
  background-color: var(--components-color);
  width: 45rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media (max-width: 768px) {
  .search-input-wrapper {
    width: 100%;
  }
}

.search-menu-wrapper {
  width: 20rem;
}

.search-menu {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: var(--components-color);
  padding: 0 2rem;
  border-radius: 0.5rem;
}

.search-input {
  outline: none;
  font-size: 1.3rem;
  width: 35rem;
  background-color: transparent;
  color: var(--text-color);
}

.search-toggle-menu {
  width: 100%;
  background-color: var(--components-color);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.search-toggle-menu button {
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.4rem 0;
  color: var(--text-color);
}

.country-card {
  background-color: white;
  min-width: 10rem;
  width: 30rem;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.country-card .country-flag {
  width: 100%;
  aspect-ratio: 2/1.1;
  object-fit: cover;
}

.country-info {
  background-color: var(--components-color);
  padding: 2rem;
}
.country-info h3 {
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.country-info p {
  font-size: 1.3rem;
}
.country-info p span {
  font-weight: 700;
}

.more-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6rem 0 5rem 0;
}
.more-btn-wrapper button {
  background-color: blue;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.3rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.more-btn-wrapper button:hover {
  filter: brightness(1.2);
}

.back-btn-wrapper {
  width: 100%;
  margin-bottom: 5rem;
}
.back-btn-wrapper button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  padding: 0.7rem 2.4rem;
  background-color: var(--components-color);
}
.back-btn-wrapper .arrow-left-img {
  width: 1.8rem;
}

.country-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.country-info-wrapper .country-info-img {
  width: 50%;
}
@media (max-width: 1024px) {
  .country-info-wrapper {
    flex-direction: column;
  }
  .country-info-wrapper .country-info-img {
    width: 80%;
  }
}
@media (max-width: 640px) {
  .country-info-wrapper .country-info-img {
    width: 100%;
  }
}

.country-data {
  width: 40%;
}
.country-data h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
.country-data p {
  font-size: 1.3rem;
}
.country-data p span {
  font-weight: 700;
}
.country-data .data-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 7vw;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .country-data {
    width: 100%;
    margin: 5rem 0;
  }
  .country-data .data-wrapper {
    gap: 10vw;
  }
}
@media (max-width: 640px) {
  .country-data .data-wrapper {
    flex-direction: column;
  }
}

.border-country {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
